<div *ngIf="pagination">
<div class="row">
    <div class="col-xs-4 col-sm-4 col-md-4"></div>
    <div class="col-xs-4 col-sm-4 col-md-4">
        <ul class="pagination pagination-circle pg-blue mb-0" style="position: relative;margin-left: 20%;">
            <!--Arrow left-->
            <li [ngClass]="{'page-item': (currentIndex == 1 || pageNumber == 0)}">
                <a class="page-link" aria-label="Previous" (click)="prevPage()">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <!--Numbers-->
            <li *ngFor="let page of pagesIndex" [ngClass]="{'page-item active': (currentIndex == page)}">
                <a (click)="setPage(page)" class="page-link">{{page}}</a>
            </li>
            <!--Arrow right-->
            <li [ngClass]="{'page-item': (currentIndex == pageNumber || pageNumber == 0)}">
                <a class="page-link" aria-label="Next" (click)="nextPage()">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4"></div>
</div>
</div>
