.pagination .page-item.active .page-link {
    background-color: #282828!important;
    color: #F8F8F8!important;
    font-weight: bold!important;
}

.pagination .page-link{
    margin: 0 5px;
    border-radius: 5px;
}

.pagination .page-link:hover{
    background-color: #F8F8F8!important;
}