<div class="row" style="margin-right: 1px;">
  <div class="col-xs-0 col-sm-1 col-md-1"></div>
  <div class="col-xs-0 col-sm-10 col-md-10">
    <app-filter
      #filterTable
      [filter]="filter"
      [filterFunction]="filterFunction"
      [filterPlaceholder]="filterPlaceholder">
    </app-filter>
    <br>
    <table class="table table-bordered table-condensed" style="text-align:center">
        <thead class="header-table">
          <th class="table-head table-options no-border"><!-- options --></th>
          <th *ngFor="let key of dataColumn" (click)="sort(key)" [ngClass]="'table-head table-head-' + key.toLowerCase()">
            {{key}}
            <i *ngIf="orderType && nameColumn === key" class="material-icons">&uarr;</i>
            <i *ngIf="!orderType && nameColumn === key" class="material-icons">&darr;</i>
          </th>
        </thead>
        <tbody>
          <tr *ngFor="let item of items; let i=index" class="address-row">
            <td class="table-options no-border">
              <span *ngFor="let option of options">
                <img *ngIf="option.type==='img'" src="{{option.url}}" class={{option.class}} (click)="functionDefault(i,option.name,items[i],option)">
                <button *ngIf="option.type==='button'" class={{option.class}} (click)="functionDefault(i,option.name,items[i],option)">{{option.name}}</button>
                <input type="text" *ngIf="option.type==='text'" class={{option.class}}>
              </span>
            </td>
            <td *ngFor="let key of dataColumn" [ngClass]="'td-' + key.toLowerCase()">{{item[key]}}</td>
          </tr>
        </tbody>
    </table>
    <br>
    <app-pagination 
      #paginationTable 
      [dataTable]="dataTable"
      [itemsForPage]="itemsForPage"
      [pagination]="pagination"
      [filterValue]="inputName">
    </app-pagination>
  </div>
  <div class="col-xs-0 col-sm-1 col-md-1"></div>
</div>

